<div class="movies-item">
  <div class="container">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter text" ng-model="filterInput">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="onFilter()">Search</button>
      </span>
    </div>

    <br>
  </div>
</div>



<div class="container">
  <div class="clearfix">
    <div class="pull-left">
      <h2>{{movies.length}} movies</h2>
    </div>
  </div>

  <div class="row">
    <div>
      <pre>
        {{ movies | evenItems: 5 | json }}
      </pre>
    </div>
  </div>
</div>
